@{
    Layout = "";
}
@model Nop.Plugin.ExternalAuth.Database.Models.ConfigurationModel
@using Nop.Web.Framework;
@using (Html.BeginForm())
{
    <table class="adminContent">
        @*<tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ConnectionString):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ConnectionString)
                @Html.ValidationMessageFor(model => model.ConnectionString)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SQLQuery):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SQLQuery)
                @Html.ValidationMessageFor(model => model.SQLQuery)
            </td>
        </tr>
        <tr>
            <td colspan="2" width="100%">
                <input type="submit" name="save" class="t-button" value="@T("Admin.Common.Save")" />
            </td>
        </tr>*@
    </table>

}