@using Nop.Core.Domain
@using Nop.Core.Domain.Common
@using Nop.Core.Domain.Seo
@using Nop.Services.Events
@using Nop.Core
@using Nop.Services.Security
@using Nop.Web.Framework.Events
@using Nop.Core.Infrastructure
@inject CommonSettings commonSettings
@inject IEventPublisher eventPublisher
@inject IPermissionService permissionService
@inject IWorkContext workContext
@inject SeoSettings seoSettings
@inject StoreInformationSettings storeInformationSettings
@inject Nop.Services.Localization.ILanguageService languageService
@inject IThemeContext themeContext
@{
    var themeName = themeContext.WorkingThemeName;
    var settings = EngineContext.Current.Resolve<Nop.Plugin.Widgets.ThemeGrandNode.ThemeGrandNodeSettings>();

    Html.AppendScriptParts(ResourceLocation.Footer, "~/js/public.countryselect.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/js/public.ajaxcart.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/js/public.common.js");
    //when jQuery migrate script logging is active you will see the log in the browser console
    if (commonSettings.JqueryMigrateScriptLoggingActive)
    {
        Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/jquery-migrate/jquery-migrate-3.0.1.js");
    }
    else
    {
        Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/jquery-migrate/jquery-migrate-3.0.1.min.js");
    }
    Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/jquery-ui/jquery-ui-1.12.1.custom/jquery-ui.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/jquery-validate/jquery.validate.unobtrusive-v3.2.10/jquery.validate.unobtrusive.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/jquery-validate/jquery.validate-v1.17.0/jquery.validate.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, $"~/Themes/{themeName}/Content/js/materializeInit.js");
    Html.AppendScriptParts(ResourceLocation.Footer, $"~/Themes/{themeName}/Content/js/materialize.js");
    //Html.AppendScriptParts(ResourceLocation.Head, $"~/Themes/{themeName}/Content/js/materialize976.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/jquery/jquery-3.3.1.min.js");
    //X-UA-Compatible tag
    if (commonSettings.RenderXuaCompatible)
    {
        Html.AppendHeadCustomParts($"<meta http-equiv=\"X-UA-Compatible\" content=\"{commonSettings.XuaCompatibleValue}\"/>");
    }
    //custom tag(s);
    if (!string.IsNullOrEmpty(seoSettings.CustomHeadTags))
    {
        Html.AppendHeadCustomParts(seoSettings.CustomHeadTags);
    }
    var displayMiniProfiler = storeInformationSettings.DisplayMiniProfilerInPublicStore
        && (!storeInformationSettings.DisplayMiniProfilerForAdminOnly || permissionService.Authorize(StandardPermissionProvider.AccessAdminPanel));
    //event
    eventPublisher.Publish(new PageRenderingEvent(this.Html));

}
<!DOCTYPE html>
<html lang="@languageService.GetTwoLetterIsoLanguageName(workContext.WorkingLanguage)" @(this.ShouldUseRtlTheme() ? Html.Raw(" dir=\"rtl\"") : null) @Html.NopPageCssClasses()>
<head>
    <title>@Html.NopTitle()</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="@(Html.NopMetaDescription())" />
    <meta name="keywords" content="@(Html.NopMetaKeywords())" />
    <meta name="generator-version" content="@settings.version">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @Html.NopHeadCustom()
    @*This is used so that themes can inject content into the header*@
    @await Html.PartialAsync("Head")
    @await Component.InvokeAsync("Widget", new { widgetZone = "head_html_tag" })
    @Html.NopCssFiles(ResourceLocation.Head)
    @Html.NopScripts(ResourceLocation.Head)
    @Html.NopCanonicalUrls()
    @await Component.InvokeAsync("NewsRssHeaderLink")
    @await Component.InvokeAsync("BlogRssHeaderLink")
    @*Insert favicon and app icons head code*@
    @await Component.InvokeAsync("Favicon")
    @if (displayMiniProfiler)
    {
        <mini-profiler />
    }
    @Html.NopInlineScripts(ResourceLocation.Head)

    <link rel="stylesheet" media="(max-width: 1000px)" href="/Themes/MaterializeTheme/Content/css/max-1000px.css">
    <link rel="stylesheet" media="(max-width: 601px)" href="/Themes/MaterializeTheme/Content/css/max-601px.css">
    <link rel="stylesheet" media="(min-width: 1001px)" href="/Themes/MaterializeTheme/Content/css/min-1001px.css">
    <link rel="stylesheet" media="(min-width: 1025px)" href="/Themes/MaterializeTheme/Content/css/min-1025px.css">
    <link rel="stylesheet" media="(min-width: 1367px)" href="/Themes/MaterializeTheme/Content/css/min-1367px.css">
    <link rel="stylesheet" media="(min-width: 481px)" href="/Themes/MaterializeTheme/Content/css/min-481px.css">
    <link rel="stylesheet" media="(min-width: 601px and max-width: 768px)" href="/Themes/MaterializeTheme/Content/css/min-601-max768px.css">
    <link rel="stylesheet" media="(min-width: 601px)" href="/Themes/MaterializeTheme/Content/css/min-601px.css">
    <link rel="stylesheet" media="(min-width: 768px and max-width: 1024px)" href="/Themes/MaterializeTheme/Content/css/min-768-max1024px.css">
    <link rel="stylesheet" media="(min-width: 769px)" href="/Themes/MaterializeTheme/Content/css/min-769px.css">
</head>
<body>
    @RenderBody()
    @Html.NopCssFiles(ResourceLocation.Footer)
    @Html.NopScripts(ResourceLocation.Footer)
    @Html.NopInlineScripts(ResourceLocation.Footer)

    <script asp-location="Footer">
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
</body>
</html>
