@model ProductDetailsModel.ProductBreadcrumbModel
@using Nop.Core.Domain.Common
@inject CommonSettings commonSettings
@{
    var breadcrumbDelimiter = commonSettings.BreadcrumbDelimiter;
}
@if (Model.Enabled)
{
    <nav>
        <div class="nav-wrapper">
            <div class="col s12">
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductBreadcrumbBefore, additionalData = Model })

                <a href="@Url.RouteUrl("Homepage")" itemprop="url" class="breadcrumb">@T("Products.Breadcrumb.Top")</a>

                @foreach (var cat in Model.CategoryBreadcrumb)
                {
                    <a href="@Url.RouteUrl("Category", new { SeName = cat.SeName })" title="@cat.Name" class="breadcrumb">@cat.Name</a>
                }
                <a class="breadcrumb">@Model.ProductName</a>
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductBreadcrumbAfter, additionalData = Model })

            </div>
        </div>
    </nav>

}