@model CheckoutConfirmModel
<div class="checkout-data">
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OpCheckoutConfirmTop })
    <div class="section order-summary">
        @await Component.InvokeAsync("OrderSummary", new { prepareAndDisplayOrderReviewData = true })
    </div>
    @if (string.IsNullOrEmpty(Model.MinOrderTotalWarning) && Model.TermsOfServiceOnOrderConfirmPage)
    {
        <div id="terms-of-service-warning-box" title="@T("Checkout.TermsOfService")" style="display:none;">
            <p>@T("Checkout.TermsOfService.PleaseAccept")</p>
        </div>
        <div class="terms-of-service input-field">
            <input id="termsofservice" type="checkbox" name="termsofservice" />
            <label for="termsofservice">@T("Checkout.TermsOfService.IAccept")<a class="read" id="read-terms">@T("Checkout.TermsOfService.Read")</a></label>
            <script>
                $(document).ready(function() {
                    $('#read-terms').on('click', function(e) {
                        e.preventDefault();
                        displayPopupContentFromUrl('@Url.RouteUrl("TopicPopup", new {SystemName = "conditionsofuse"})', '@T("Checkout.TermsOfService")');
                    });
                });
            </script>
        </div>
    }
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OpCheckoutConfirmBottom })
    @if (!string.IsNullOrEmpty(Model.MinOrderTotalWarning) || Model.Warnings.Count > 0)
    {
        <div class="section confirm-order">
            <div>
                @if (!string.IsNullOrEmpty(Model.MinOrderTotalWarning))
                {
                    <span class="min-order-warning">@Model.MinOrderTotalWarning</span>
                }
            </div>
            @if (Model.Warnings.Count > 0)
            {
                <div class="message-error">
                    <ul>
                        @foreach (var warning in Model.Warnings)
                        {
                            <li>@warning</li>
                        }
                    </ul>
                </div>
            }
        </div>
    }
</div>
